In [ ]:
#import
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression , Lasso ,Ridge 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,median_absolute_error
from sklearn.preprocessing import  MinMaxScaler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#read data
data = pd.read_excel('/content/drive/My Drive/train.csv')
data.head(3)

       X      Y  ...  LC_Type1_mode                             Square_ID
0  34.26 -15.91  ...              9  4e3c3896-14ce-11ea-bce5-f49634744a41
1  34.26 -15.90  ...              9  4e3c3897-14ce-11ea-bce5-f49634744a41
2  34.26 -15.89  ...              9  4e3c3898-14ce-11ea-bce5-f49634744a41

[3 rows x 40 columns]

In [ ]:
#split data
newdata = data.loc[:,:'target_2015']
scall = MinMaxScaler(feature_range=(0,0.2))
newdata = scall.fit_transform(newdata)
newdata = pd.DataFrame(newdata)
X=newdata.iloc[:,:-1]
y=newdata.iloc[:,-1]
print(newdata.head(3))
print(X.head(3))
print(y.head(3))

    0         1         2    3    4   ...        16        17        18   19   20
0  0.0  0.102098  0.061080  0.0  0.0  ...  0.008875  0.065685  0.000188  0.0  0.0
1  0.0  0.103497  0.050611  0.0  0.0  ...  0.008875  0.065685  0.000188  0.0  0.0
2  0.0  0.104895  0.037725  0.0  0.0  ...  0.008875  0.065685  0.000188  0.0  0.0

[3 rows x 21 columns]
    0         1         2    3   ...        16        17        18   19
0  0.0  0.102098  0.061080  0.0  ...  0.008875  0.065685  0.000188  0.0
1  0.0  0.103497  0.050611  0.0  ...  0.008875  0.065685  0.000188  0.0
2  0.0  0.104895  0.037725  0.0  ...  0.008875  0.065685  0.000188  0.0

[3 rows x 20 columns]
0    0.0
1    0.0
2    0.0
Name: 20, dtype: float64

In [ ]:
#split data to train and test
X_train ,  X_test , y_train  , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
#model1
Model1 = LinearRegression()
Model1.fit(X_train,y_train)
print(Model1.score(X_train,y_train))
print(Model1.score(X_test,y_test))
y_pred = Model1.predict(X_test)

0.16325794430865248
0.1638988751689182

In [ ]:
#accursy1
f1=mean_absolute_error(y_test,y_pred)
f2=mean_squared_error(y_test,y_pred)
f3=median_absolute_error(y_test,y_pred)
print(f1)
print(f2)
print(f3)

0.12074193114600085
0.043430588229954194
0.05813908225467583

In [ ]:
#mode2
Model2 = Lasso(alpha=0.0001,random_state=42)
Model2.fit(X_train,y_train)
print(Model2.score(X_train,y_train))
print(Model2.score(X_test,y_test))
y_pred2 = Model2.predict(X_test)

0.16353295997406647
0.1626235229065346

In [ ]:
#accursy2
f1=mean_absolute_error(y_test,y_pred2)
f2=mean_squared_error(y_test,y_pred2)
f3=median_absolute_error(y_test,y_pred2)
print(f1)
print(f2)
print(f3)

0.11806163342355774
0.042597227427817304
0.06043228439598599

In [ ]:
#mode3
Model3 = Ridge(alpha=0.1,random_state=42)
Model3.fit(X_train,y_train)
print(Model3.score(X_train,y_train))
print(Model3.score(X_test,y_test))
y_pred3 = Model3.predict(X_test)

0.16355227136434225
0.1624420769528312

In [ ]:
#accursy2
f1=mean_absolute_error(y_test,y_pred2)
f2=mean_squared_error(y_test,y_pred2)
f3=median_absolute_error(y_test,y_pred2)
print(f1)
print(f2)
print(f3)

0.11806163342355774
0.042597227427817304
0.06043228439598599

In [ ]:
#TREE
tree = DecisionTreeRegressor(max_depth=8,random_state=42)
tree.fit(X_train,y_train)
print(tree.score(X_train,y_train))
print(tree.score(X_test,y_test))
y_pred3 = tree.predict(X_test)

0.8289871933936006
0.7213158559986109